{% extends 'base.html' %}
{% load static  %}
{% load widget_tweaks %}

{% block title %}
     Blog|Postagens
{% endblock title %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}
{% block head %}
{% block style %} 




{% endblock style %}
{% endblock head %}
{% block body %}
<form action="" method="post">
    {% csrf_token %}
   <p>Autor: {% render_field form.autor %} </p>
   <p>Categoria: {% render_field form.categoria %}</p>
   <p> {% render_field form.post %}</p>
    <input type ="submit" value="Enviar">
</form>
  

{% endblock body %}