{% extends 'base.html' %}
{% load static  %}

{% block title %}
     Blog|Postagens
{% endblock title %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}
{% block style %} 
<style>
    body{
        background-image: url('https://wallpaperstream.com/wallpapers/full/galaxy/Black-and-White-Galaxy-Wallpaper.jpg');
        color: whitesmoke;
        
    }


</style>



{% endblock style %}
{% block body %}

<form method="post">
        {% csrf_token %}
        <p>Você tem certeza que quer excluir o post abaixo?</p>
        {{post.texto}}
<input type="submit" value="Deletar">
    </form>
</form>

{% endblock body %}
