{% extends 'base.html' %}
{% load static  %}

{% block title %}
     Blog|Comentarios
{% endblock title %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}

{% block style %} 


{% endblock style %}

{% block body %}
<h5>Detalhes</h5>
<p> Autor:    {{posts.autor}} </p>

<p>Categoria:    {{posts.categoria}} </p>
<p> Postagem:     {{posts.post}}    </p>

{% for p in posts.commentsFromPost.all %}

    <p> Comentarios: {{p.comentario}}</p>
    {% empty %}
    <p>Esse post não tem comentarios ):</p>
{% endfor %}      
    </div>

{% endblock body %}