{% extends 'base.html' %}
{% load static  %}

{% block title %}
     Blog|Postagens
{% endblock title %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}

{% block style %} 


{% endblock style %}

{% block body %}
<div class="AllDivs">
{% for p in posts %}
    <div class =  "Divisao">
    {%if p.image %}
    
    <p><img src = "{{p.image.url}}"></p>
{% endif %}
    <center><p> {{p.post}} </p><br></center>

    <center><p> {{p.autor}} </p>
    <a href="{% url 'categoria:updatecat_post' p.categoria.id %}">{{p.categoria}}</a>/
    <a href="{% url 'categoria:deletecat_categoria' p.categoria.id %}">Deletar</a>
    </center>
    <p> {{p.created_at}} </p><br>
    <center>
    <a href="{% url 'posts:update_post' p.id %}">editar</a> 
    <a href="{% url 'posts:delete_post' p.id%}">deletar</a></center>
    <a href="{% url 'posts:detail_post' p.id %}">detalhes</a>
    </div>
{% endfor %}    
</div>
{% endblock body %}