{% extends 'base.html' %}
{% load static  %}

{% block title %}
     Blog|Home
{% endblock title %}




 
{% block style %} 
    <style>
        body{
            background-image: url('https://wallpaperstream.com/wallpapers/full/galaxy/Black-and-White-Galaxy-Wallpaper.jpg');
            color: whitesmoke;
            
        }
    
    
    </style>
    
    
    
{% endblock style %}




{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock scripts %}

{% block body %}

    
        <center>
            <h1>Welcome to the galaxy songs!</h1>

        </center>

{% endblock body %}
