

.Divisao {
    color: white;
    border: 1px solid black;
    width: 250px;
    margin: 20px;
    background-image: url('https://www.larutadelsorigens.cat/filelook/full/39/398023/black-galaxy-wallpaper.jpg');

}

.Enquadramento{

    color:whitesmoke;
    border: 1px solid whitesmoke;
    width: 250px;
    margin: 20px;

}

.AllDivs{
    display: flex;
    flex-flow: row wrap;


}

body{
    
    background-image: url('https://wallpaperstream.com/wallpapers/full/galaxy/Black-and-White-Galaxy-Wallpaper.jpg');
    color: whitesmoke;
    font-family: 'Berkshire Swash', cursive;
}
select{
    background-color: transparent;
    color: silver;

}
input{
    background-color: transparent;
  color:silver;

}
textarea{
  background-color: transparent;
  color: silver;

}